/* The integration's default injected base.css file */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    font-family: 'Poppins' !important;
}

a {
    text-decoration: none;
}

.page {
    display: block;
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    overflow: hidden;
    padding: 80px 80px 120px;
    /* background-color: #fff; */
}