---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import '../styles/main.css';

// const posts = await Astro.glob("./*.mdx");
---

<Layout title="@impondesk">

<main role="main" class="w-full lg:col-span-3">
  <section class="p-8 lg:py-12 lg:px-10">
      
        <h1 class="text-white dark:text-black text-2xl md:text-4xl xl:text-8xl font-bold">
          <small class="font-extrabold text-transparent text-8xl bg-clip-text bg-gradient-to-r from-sky-400 to-blue-600">About</small>
          <span class="block text-3xl text-gray-500">impondesk<span class="text-3xl">.</span></span>
        </h1>
      
        <!-- mt-0 lg:mt-2 text-base dark:text-zinc-500 text-zinc-500 lg:col-span-3 space-y-12 -->
      <div class="">
        <article class="md:grid md:grid-cols-4">
          <div class="md:col-span-3">
            <div class="text-sm text-gray-500 dark:text-zinc-500 space-y-5">
              <p>Born in 1984 in Mumbai, India. I’m a software engineer specializing in designing & building exceptional digital experiences. I believe technology can be more diverse and inspiring. With a mission to enable possibilities of new era and digitization. I am pursuing new expressions through experiments and thoughts.</p>
              <p>Murli is an IT professional with strong experience in the area of software design & development. He has experience working as an Architect over 15+ years of experience working in Technology Consulting & Architect specialised in Insurance, Public Health & Social Domain, ICT Solutions & Usability Engineering. Currently working as Sr. Solution Architect (I) at CitiusTech deeply passionate about creating loved and trusted products that help people navigate their careers and achieve their career goals.</p>
              <p>I also like meeting new people over a cup of coffee. Feel free to reach out at murli.p.israni@gmail.com or DM on Twitter @impondesk.</p>
              <p>Competencies: Java/J2EE, SQL/NoSQL, NodeJS, Cloud, Business Process Management, Business Intelligence, UI/X, Publishing Frameworks, Real-time, O2O, Mobile APP Development, IoT Solutions, Microservices & Event-Driven Architecture & Cloud Computing with all the phases of Software Development Life Cycle and Agile methodology.</p>
              <p>Web | Mobile | Solution Architect | AWS | Azure | Cloud Technology | Cloud Migration | SAAS | Realtime Data Streaming & Analytics | Microservices | BPM |Insurance | Healthcare | Technology Consultant | Strategic Accounts</p>
              
              <!-- <p>
                Now, this is a story all about how My life got flipped-turned
                upside down And I'd like to take a minute Just sit right there
                I'll tell you how I became the prince of a town called Bel-Air
              </p>

              <p>
                In West Philadelphia born and raised On the playground was where
                I spent most of my days Chillin' out, maxin', relaxin', all cool
                And all shootin' some b-ball outside of the school When a couple
                of guys who were up to no good Started making trouble in my
                neighborhood I got in one little fight and my mom got scared She
                said, "You're movin' with your auntie and uncle in Bel-Air"
              </p>

              <p>
                I begged and pleaded with her day after day But she packed my
                suitcase and sent me on my way She gave me a kiss and then she
                gave me my ticket I put my Walkman on and said, "I might as well
                kick it"
              </p>
              <p>
                I begged and pleaded with her day after day But she packed my
                suitcase and sent me on my way She gave me a kiss and then she
                gave me my ticket I put my Walkman on and said, "I might as well
                kick it"
              </p>
              <p>
                First class, yo this is bad Drinking orange juice out of a
                champagne glass Is this what the people of Bel-Air living like?
                Hmm, this might be alright
              </p>
              <p>
                But wait, I hear they're prissy, bourgeois, all that Is this the
                type of place that they just send this cool cat? I don't think
                so I'll see when I get there I hope they're prepared for the
                prince of Bel-Air
              </p>
              <p>
                Well, the plane landed and when I came out There was a dude who
                looked like a cop standing there with my name out I ain't trying
                to get arrested yet, I just got here I sprang with the quickness
                like lightning, disappeared
              </p>
              <p>
                I whistled for a cab and when it came near The license plate
                said, "Fresh" and it had dice in the mirror If anything I could
                say that this cab was rare But I thought "Nah, forget it, yo,
                holmes to Bel Air"
              </p>
              <p>
                I pulled up to the house about seven or eight And I yelled to
                the cabbie, "Yo holmes, smell ya later" I looked at my kingdom I
                was finally there To sit on my throne as the prince of Bel-Air
              </p> -->
            </div>
          </div>
        </article>
      </div>
    
  </section>
</main>

</Layout>