---
// 1. The frontmatter prop gives access to frontmatter and other data
const { frontmatter } = Astro.props;

import NavigationHeader from '../components/NavigationHeader.astro';
import '../styles/main.css';

---
<html>
  <head>
    <!-- Add other Head elements here, like styles and meta tags. -->
    <title>{frontmatter.title}</title>
  </head>
  <body>

    <div class="bg-gradient-to-b from-gray-50 to-gray-200">
      
        <NavigationHeader></NavigationHeader>
  
  </div>

  <main class="max-w-7xl mx-auto">

  
    <h1>{frontmatter.title}</h1>
    <h3>{frontmatter.author}</h3>

    </main>

    <p class="text-base font-light leading-relaxed mt-0 mb-4 text-gray-800 max-w-7xl mx-auto">
      <slot />
    </p>

    <!-- <p class="text-black group-hover:text-gray">Astro</p> -->

  </body>
</html>