---
// 1. The frontmatter prop gives access to frontmatter and other data
const { frontmatter } = Astro.props;

// import '../styles/main.css';

---
<html>
  <head>
    <!-- Add other Head elements here, like styles and meta tags. -->
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <h1>{frontmatter.title}</h1>
    <h3>{frontmatter.author}</h3>
    <slot />

    <!-- <p class="text-black group-hover:text-gray">Astro</p> -->

  </body>
</html>